canvas#canvas-id(width="500", height="500")
  img.backup-image(src="./images/movie-poster-max-2.jpg")
canvas#canvas-image-id(width="500", height="500")
  img.backup-image(src="./images/movie-poster-max-2.jpg")